[submodule "presentations/14660884qdxdbmchvcjk"]
	path = presentations/14660884qdxdbmchvcjk
	url = https://git.overleaf.com/14660884qdxdbmchvcjk
[submodule "presentations/15491020bbntzncjgphp"]
	path = presentations/15491020bbntzncjgphp
	url = https://git.overleaf.com/15491020bbntzncjgphp
